.slider-style-1 {
    background-image: url(images/cover/cover-1.png);
}

.slider-style-2 {
    background-image: url(images/cover/cover-2.jpg);
}

.slider-style-3 {
    background-image: url(images/cover/cover-3.jpg);
}